

// Эта функция почти такая же, как percentage()за 
// исключением того, что она принимает два аргумента 
// ( $target-pxи $container) и представляет результат в em.
@function calc-em($target-px, $context) {
	@return ($target-px / $context) * 1em
};
// Например:
// Если вы хотите добавить эквивалент левого отступа 12px в h2, 
// установленный с размером шрифта 32px,
// вы можете использовать его следующим образом:
h2  { 
  padding-left :  calc-em ( 12 px ,  32 px ); 
}
// который становится:
h2  { 
  padding-left :  .375em ; 
};
// изображения, которые масштабируются в соответствии 
// с их контейнерами.Для всех соврем. браузеров росто добавьте 
// их max-width: 100%в свои <img>теги, и все готово.
img  { 
  max-width :  100% ; 
}
// Если у вас есть фоновое изображение, которое нужно масштабировать
// или вставлять в контейнер, есть свойство CSS3, 
// которое может помочь. background-sizeдает вам очень 
// В дополнение к пиксельным и процентным значениям вы
// также можете установить размер фона contain или cover. 

// Однако этот параметр часто скрывает часть изображения.

// Вы можете использовать Compass для фонового изображения:
// http://compass-style.org/reference/compass/css3/background_size/
img.cover {
  @include background-size(cover);
}